.impressumDiv {
    color: #474343;
    padding: 0 100px;
}

.pInImpressumDiv {
    font-size: 35px;
    font-style: italic;
}

.linkImpressum {
    color: rgb(131, 130, 130);
    text-decoration: none;
    cursor: pointer;
}

.haftung {
    font-size: 12px;
}

@media screen and (min-width: 300px) and (max-width: 999px) {
    .impressumDiv {
        padding: 20px 15px;
    }
    .pInImpressumDiv {
        font-size: 20px;
    }
    .haftung {
        font-size: 14px;
    }
}